<link rel="stylesheet" href="~/css/About.css" />
<div class="about-section">
    <h1>About Nist Banepa</h1>
    <p>NIST College was established in 2012 with a main objective to provide quality higher education especially in Science out of Kathmandu Valley under affiliation of Tribhuvan University (TU).

Currently, NIST is running B. Sc. General and B.Sc. CSIT for those students who are interested to develop their career in Pure Science and IT Field, under the affiliation of TU. The College offers them the great opportunities to be highly competitive to secure their position in National and International Institutions. They learn to use wisdom, positive thinking, self-discipline and self-integrity for pursuing a successful career leading to a better life. The originality and practical management system of NIST, the highly qualified and experienced teachers in relation to the continuous rewarding results of academic excellence skill persists with us guiding our future path in professional development.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/dalle.jpg" alt="Samip" style="width:100%">
            <div class="container">
                <h2>Samip Banjara</h2>
                <p class="title">Principal</p>
                <p>Nist is a very good college.</p>
                <p>samip@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/samir.jpg" alt="Samir" style="width:100%">
            <div class="container">
                <h2>Samir Karki</h2>
                <p class="title">Vice Principal</p>
                <p>Nist is a very good college in banepa.</p>
                <p>samir@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/aayush.jpg" alt="Aayush" style="width:100%">
            <div class="container">
                <h2>Aayush Humagain</h2>
                <p class="title">Co-Ordinator</p>
                <p>Nist is a very good college in banepa.</p>
                <p>aayush@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>